#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

Button {
  min-height: 3rem;
}

.top {
  top: 0;
  padding-bottom: 3rem ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}